

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
    
}
img{
    width: 70%;
    height: 110%;
}
h4{
    padding: 0;
    margin-top: -70px;
    margin-bottom:-30px ;
    color: wheat;
  font-variant: small-caps;
  text-shadow: 
  -1px -1px 0 black,
   1px -1px 0 black,
  -1px  1px 0 black,
   1px  1px 0 black;
}
body {
    height: 100vh;
    width: 100%;
    background: url('./bannerBackgroundImage_rbfn0ileyv3d1.png') no-repeat;
    background-size: cover;
    background-position: -200px;
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    background: linear-gradient(90deg, rgb(236, 82, 40), rgb(194, 72, 24));
    width: 25%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 3;
    position: fixed;
}
.back{
width: 25.5%;
height: 61%;
background-color: rgb(99, 61, 61);
box-shadow: 5px 5px 5px;
border: 2px solid black;
}
#search{
    position: absolute;
    top: 70px;
    left: 598px;
    border-radius: 30px;
    padding: 4px;
    position:fixed;
    border: none;
    background: transparent;
}
#pokeName{
    position: absolute;
    top:70px;
    left: 450px;
    border-radius: 30px;
   padding: 5px;
   border: 1px solid black;
 
   backdrop-filter: blur(5px);
}
#sprite{margin-top: 60px;
    background-color: rgb(66, 60, 51);
    height: 40%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-bottom: 10px;
}


.normal{
    padding-left: 1px;
    padding-right: 1px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(122, 105, 29),rgb(132, 105, 24));
}
.electric{
    padding-left: 1px;
    padding-right: 1px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(166, 177, 23),rgb(203, 233, 12));
}
.fire{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(194, 58, 41),rgb(132, 105, 24));
}
.grass{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(61, 233, 38),rgb(28, 170, 78));
}.water{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(21, 117, 173),rgb(23, 117, 158));
}.ghost{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(71, 18, 79),rgb(80, 17, 72));
}.psychic{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(201, 20, 177),rgb(71, 18, 79));
}
.fighting{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(205, 125, 39),rgb(104, 70, 22));
}
.bug{
    padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(194, 200, 35),rgb(204, 216, 30));
}
.steel{ padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(162, 162, 151),rgb(201, 199, 148));

}
.dark{ padding-left: 2px;
    padding-right: 2px;
 color: white;
 border: 1px solid black;
    background: linear-gradient(180deg,rgb(9, 9, 3),rgb(18, 17, 3));

}